SPRING_ENV=dev
SPRING_APP_NAME=MicroserviceName
HOST_PORT=8082
HOST_DB_PORT=3306

MYSQL_DATABASE=demo
MYSQL_HOST=localhost
MYSQL_PASSWORD=password
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root_password
MYSQL_USER=user

PHPMYADMIN_PORT=8088
